:root {
    --cor-fundo1: #607f91; /*cor 2 do quem somos*/
    --cor-fundo2: #103c5c; /*porque contratar e rodapé*/
    --cor-primaria: #ffffff;/* variável (--cor-primária)*/
    --cor-hover: #a09c9c; 

}

* {
    margin: 0;
    padding: 0;
}
.home, body {
    position:relative;
    overflow-x:hidden;
    background-color: white;
    margin: 0;
    padding: 0;
  }

/* Começo do Menu Responsivo */

.logo {
    z-index: 1112;
    width: 15%;
    height: 90%;
    margin-top: 0.5%;
    position: absolute;
    margin-right: 3%;
    margin-left: 1%;
}

header{
    z-index: 1112;
    display: inline-block;
    font-family: Lato, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: white;
    height: 10%;
    width: 100%;
    position: fixed;
    box-shadow: 0px 0px 10px 1px rgb(0 0 0 / 29%);
}
  
  #menu {
    list-style: none;
  display: flex;
  position: absolute;
  left: 20%; /* Centralizar horizontalmente */
  }
  
  #menu a {
    color:var(--cor-fundo2);
    text-decoration: none;
    transition: 0.3s;
  }

  #menu li {
    margin-left: 20px;
    margin-top: 25px;
    font-size: 15px;
    position:relative;
    float:left;
}

  #menu a:hover{
    margin-bottom: 1px;
    padding: 10px;
}

#menu li:hover ul, .itens-menu li.over ul{
    display:block;
    }

#menu li ul{
    z-index: 1111;
    list-style:none;
    position:absolute;
    top:30px;
    left:30%;
    display:none;
    padding: 10px;
    border-radius: 0px 0px 20px 20px;
}
  #btn-mobile {
    display: none;
  }



@media (max-width: 800px) {
    .logo {
        margin-left: 2%;
        width: 45%;
        height: 90%;
        margin-top: 1%;
        position: absolute;
        margin-right: 85%;
    }

    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        background: #e7e7e7;
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
      }

      #menu li {
        margin-left: 30%;
        text-align: center;
        margin-top: 25px;
        font-size: 15px;
    }

      #menu li {
        margin-right: 10%;
        margin-top: 20px;
        font-size: 100%;
    }

      #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
      }
      #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(8, 107, 255, 0.05);
      }
      #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
      }
      #hamburger {
        border-top: 2px solid;
        width: 20px;
        height: 30%;
        margin-top: 5%;
        margin-left: 40vh;
      }
      #hamburger::after,
      #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
      }
      #nav.active #hamburger {
        border-top-color: transparent;
      }
      #nav.active #hamburger::before {
        transform: rotate(135deg);
      }
      #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
      }
    }
    
   

/* Fim do Menu Responsivo */

/*Começo do Carrossel*/
.galeria {
    width: 100%;
    height:30%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--corfundo);
    position: relative;
    
}
.galeria .imagens {
    width: 500%;
    animation-name: animacao;
    animation-duration: 40s;
    animation-iteration-count: infinite;
}
.galeria .imagens img {
    width: 20%;
}

.galeria p{
    color: #fff;
    position: absolute;
    top: 57.14vh;
    left: 50%; /* Adicione esta linha para alinhar o texto ao centro horizontalmente */
    transform: translateX(-50%); /* Adicione esta linha para ajustar o posicionamento horizontal do texto */
    text-align: left;
    font-size: 2.33vw;    
    background-color: rgba(16, 60, 92,0.3);
    width: 100%;
    padding: 7.14vh;    
    margin-left: auto;
    margin-right: auto;
    margin:auto;
    display: block;
    color: rgb(255, 255, 255);
  
}

@keyframes animacao{
    0%{
        margin-left: 0%;
    }

    5%{
        margin-left: 0%;    
    }

    10%{
        margin-left: -100%;
    }

    15%{
        margin-left: -100%;
    }


    20% {
        margin-left:-200%;
   }

   25%{
        margin-left:-200%;
   }
   
    30% {
        margin-left: 0%;

   }

   35%{
        margin-left: 0%;
    
   }

   40% {
       margin-left: -100%;

   }

   45%{
        margin-left: -100%;

   }

   50% {
        margin-left: -200%;
   }

   55%{
    margin-left: -200%;

   }


   60% {
       margin-left: 0%;
   }

   65%{
        margin-left: 0%;
   }


   70% {
       margin-left: -100%;
   }

   75%{
        margin-left: -100%;
   }


    80% {
       margin-left:-200%;
   }

   85%{
    margin-left: -200%;
   }


   90% {
       margin-left: 0%; 
   } 

   95%{
        margin-left: 0%;
   }

   100% {
        margin-left: 0%;
   }
}
@media (max-width:999px) {
    .galeria {
        width: 100%;
        height: 100%;
        border-radius: 0px;
    }
    .galeria p{
        color: #fff;
        position: absolute;
        top: 20%;
        left: 50%; /* Adicione esta linha para alinhar o texto ao centro horizontalmente */
        transform: translateX(-50%); /* Adicione esta linha para ajustar o posicionamento horizontal do texto */
        text-align: left;
        font-size: 60%;
        background-color: rgba(16, 60, 92,0.3);
        width: 100%;
        padding: 7.14vh;
        
        display: block;
        color: rgb(255, 255, 255);
      
    }
}



/*Fim do Carrossel*/

/*Quem Somos*/

section.quemsomos {
    width: 100%;
    min-width: auto;
    height: auto;
    min-height: 900px;
    background-image: -webkit-linear-gradient(-10deg, #fff 48%, #204c65 40%);
}

.quemsomos1 {
    width: 40%; /* Equivalente a 600px em 900px de altura */
    float: left;
    color: var(--cor-fundo2);
    margin-left: 2%;
    text-align: justify;
    font-size: 100%; /* Equivalente a 15px em 900px de altura */
}

.anaimg img {
    border-radius: 50%;
    width: 40%; /* Equivalente a 250px em 900px de altura */
    height:40%; /* Equivalente a 250px em 900px de altura */
}

.quemsomos2 {
    width: 40%; /* Equivalente a 600px em 900px de altura */
    float: right;
    color: var(--cor-primaria);
    font-size: 100%; /* Equivalente a 15px em 900px de altura */
    margin-right: 6%;
}

.mackimg img {
    border-radius: 50%;
    width: 36%; /* Equivalente a 250px em 900px de altura */
    height: 36%; /* Equivalente a 250px em 900px de altura */
}

@media (max-width: 1200px) {
    section.quemsomos {
        width: 100%;
        min-width: auto;
        height: auto;
        min-height: 900px;
        background-image: -webkit-linear-gradient(0deg, #fff 100%, #204c65 0%);
    }   

    .quemsomos1 {
        color: var(--cor-fundo2);
        width: 95%;
        font-size: 70%; /* Equivalente a 90% em 900px de altura */
        text-indent: 2%;
        margin-left: 3%;
        height: 100%;
    }

    .anaimg img {
        display: block;
        justify-content: center;
        width: 40%;
        height: 40%;
    }

    .quemsomos2 {
        color: var(--cor-fundo2);
        width: 95%;
        font-size: 70%; /* Equivalente a 90% em 900px de altura */
        margin-right: 3%;
        text-indent: 2%;
        background: #fff;
        height: 100%;
    }

    .mackimg img {
        display: block;
        justify-content: center;
        width: 40%;
        height: 40%;
    }
}


/*Fim do Quem Somos*/

/*Nossa História*/

.nossahistoria {
    background-color: var(--cor-fundo2);
}

.nossahistoria p {
    color: white;
    width: 95%; /* Equivalente a 1250px em 1200px de largura */
    text-align: justify;
    font-size: 1.25vw; /* Equivalente a 15px em 1200px de largura */
    text-indent: 2.5%; /* Equivalente a 30px em 1200px de largura */
    margin-left: 2.5%; /* Equivalente a 3% em 1200px de largura */
}

.nossahistoria p span center {
    color: #fff;
}

.imghistoria img {
    border-radius: 50%;
    width: 29.17%; /* Equivalente a 350px em 1200px de largura */
    height: 29.17%; /* Equivalente a 350px em 1200px de largura */
}

@media (max-width: 1200px) {
    .imghistoria img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60%; /* Equivalente a 300px em 1200px de largura */
        height: 60%; /* Equivalente a 300px em 1200px de largura */
    }

    .nossahistoria p {
        color: white;
        width: 95%;
        text-align: justify;
        font-size: 3.33vw; /* Equivalente a 80% em 1200px de largura */
        text-indent: 2%;
        margin-left: 2%;
    }
}

/*Fim do Nossa História*/

/*O que fazemos*/

/*ARRUMAR
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc; 
  }
  
  .panel{
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }
ARRUMAR */

.ladoesquerdo {
    width: 50%;
    float: left;
}

.ladodireito {
    width: 50%;
    float: right;
}

.ladoesquerdo p {
    width: 70%; /* Equivalente a 500px em 1200px de largura */
    text-align: justify;
    font-size: 1.25vw; /* Equivalente a 15px em 1200px de largura */
    margin-left: 12.5%; /* Equivalente a 15% em 1200px de largura */
}

.ladoesquerdo h2 {
    margin-left: 12.5%; /* Equivalente a 15% em 1200px de largura */
    text-align: left;
    font-size: 2.5vw; /* Equivalente a 30px em 1200px de largura */
    margin-right: 8.33%; /* Equivalente a 10% em 1200px de largura */
    color: var(--cor-fundo2);
}

.ladodireito p {
    width: 70%; /* Equivalente a 500px em 1200px de largura */
    text-align: justify;
    font-size: 1.25vw; /* Equivalente a 15px em 1200px de largura */
    margin-left: 12.5%; /* Equivalente a 15% em 1200px de largura */
}

.ladodireito h2 {
    margin-left: 12.5%; /* Equivalente a 15% em 1200px de largura */
    text-align: left;
    font-size: 2.5vw; /* Equivalente a 30px em 1200px de largura */
    margin-right: 8.33%; /* Equivalente a 10% em 1200px de largura */
    color: var(--cor-fundo2);
}

@media(max-width: 840px) {
    .ladoesquerdo,
    .ladodireito {
        width: 100%;
        float: none;
    }

    .ladoesquerdo p,
    .ladodireito p,
    .ladoesquerdo h2,
    .ladodireito h2 {
        width: 95%;
        text-align: left;
        font-size: 3.33vw; /* Equivalente a 40px em 1200px de largura */
        margin-left: 2%;
        margin-right: 0;
    }

    .ladoesquerdo h2,
    .ladodireito h2 {
        text-align: left;
    }
}

/*Fim do o que fazemos*/

/*Nossos Principios*/

.nossamissao center h1 {
    margin-top: 3%;
}

/* Estilos para os parágrafos na fundo2 */
.fundo2 p {
    margin: auto;
    top: -1%;
    background-color: white;
    width: 100%;
    font-size: 50%;
    text-align: center;
    padding: 2%;
    box-sizing: border-box;
}

/* Estilos para a seção fundo2 */
.fundo2 {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

/* Estilos para os títulos h2 na seção fundo2 */
.fundo2 h2 {
    text-align: center;
    width: 100%;
}

/* Estilos para os parágrafos dentro da seção fundo2 */
.fundo2 p {
    font-size: 80%;
    text-align: left;
    color: #103c5c;
}

/* Estilos para as imagens de missão, visão e valores */
.t-missao img,
.t-visao img,
.t-valores img {
    width: 8%;
    height: 8%;
}

/* Estilos para a seção linha-mvv */
.linha-mvv {
    padding: 2%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Estilos para elementos que começam com "t-" */
[class^="t-"] {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2.5%;
    color: var(--laranjapizzaria);
}

/* Estilos para elementos que começam com "c-" */
[class^="c-"] {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.5%;
    color: #434343;
}

@media (max-width: 840px) {

   /* Ajuste para as imagens de missão, visão e valores */
    .t-missao img,
    .t-visao img,
    .t-valores img {
        width: 28%;
        height: 28%;
    }
}

/*Fim do Principios*/

/*Por que contratar*/

.porquecontratar{
    background-color: var(--cor-fundo2);
}

.porquecontratar p{
color: white;
}

.porquecontratar p span center{
color: #fff;

}

.t-motivo1 img{
height: 30px;
top: 30px;
}

.t-motivo2 img{
    height: 30px;
}

.t-motivo3 img{
    height: 30px;
}

.linha-mvv{
    padding: 2.0rem;
    box-sizing: border-box,;
    display: flex;
    width: 100%;
  }

  [class^="cou-"]{
    box-sizing: border-box;
    padding: 0.5rem 2.5rem;
    width: 100%;
  }
  .cou-motivo1{
    width: 33.33%;
    display: flex;
    flex-direction: column;

}
.cou-motivo2{
    width: 33.33%;
    display: flex;
    flex-direction: column;
   
}
.cou-motivo3{
    width: 33.33%;
    display: flex;
    flex-direction: column;
    
}

 [class^="t-"]{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 25px;
    color:var(--laranjapizzaria)
 }

 [class^="c-"]{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #434343
 }

 @media(max-width: 840px){
    .linha-mvv{
        flex-wrap: wrap;
    }

.linha-mvv,
.cou-motivo1,
.cou-motivo2,
.cou-motivo3{
    width: 100%;
}

.cou-motivo1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
}

.cou-motivo2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;  

}

.cou-motivo3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%; 
}
}


/*Fim do Por que contratar*/

/*Contato*/

.contato {
    display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;

  }

.contato h1 {
    color: rgb(255, 255, 255);
    font-size: 50px;
  }

label{
    color: #ffffff;
    font-size: 15px;
    text-align: left; /* Alinhar o texto à esquerda */

}

.formulario input{
    border-radius: 20px;
    width: 600px;
    height: 50px;
}

.contato textarea{
    border-radius: 20px;
    width: 600px;
    height: 120px;
}

.formulario2 input{
    border-radius: 20px;
    width: 300px;
    height: 40px;
}
  .form-row input.metade[type="text"] {
    margin-right: 10px;
    width: 50px;
  }
  
  .botao input {
    text-align: center;
    margin-top: 20px;
    border-radius: 50px;
    width: 300px;
    height: 40px;
  }

.contato h2{
    color: black;
}

@media (max-width: 840px) {
    .contato {
        flex-direction: column;
        height: auto;
    }
    
    .contato h1 {
        font-size: 30px;
        margin-bottom: 20px;
    }
    
    .formulario input,
    .contato textarea,
    .formulario2 input,
    .form-row input.metade[type="text"],
    .botao input {
        width: 100%;
        max-width: 400px;
      
    }
    
    .formulario2 input {
        margin-top: 10px;
    }
    
    .form-row input.metade[type="text"] {
        margin-right: 5px;
    }
    
    .botao input {
        width: 100%;
        max-width: 400px;
    }
    
    label {
        text-align: center;
    }
    
    .contato h2 {
        font-size: 20px;
    }
}

/*Fim do Contato*/

/*Rodapé*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

.footer-distributed{
	background: var(--cor-fundo2);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font-family: Lato, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font-family: Lato, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin: 0;
    font-size: 30px;
}

.footer-distributed h3 span{
	color:  var(--cor-fundo1);
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #ffffff;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  var(--cor-fundo1);
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #ffffff;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #000000;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 4px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}


.whatsapp{
height: 35px;
width: 43px;
padding-right: 4px;
padding-left: 4px;     
}

.instagram{
height: 35px;
width: 43px; 
padding-left: 4px;
padding-right: 4px;   
}

/*Fim do Rodapé*/

/*Paralax*/

section.nossamissao{
display: flex;
flex-direction: column;
justify-content: center;
height: 100vh;
width: 100%;
position:relative;
overflow: hidden;
background-position: 50% 50%;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
-webkit-background-size: cover;
-moz-background-size:cover;
-o-background-size:cover;


}
section.nossamissao{
    background-image: url("img/quebra.jpg");
}

section.contato{
display: flex;
flex-direction: column;
justify-content: center;
height: 100vh;
width: 100%;
position:relative;
overflow: hidden;
background-position: 50% 50%;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
-webkit-background-size: cover;
-moz-background-size:cover;
-o-background-size:cover;    
}

section.contato{
    background-image: url("img/tablet-coffee.jpg");
}